@import "tailwindcss";

@theme {
  --color-primary-500: #2563eb;
  --color-primary-600: #1d4ed8;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
